.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
}

.Weather h1 {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
  margin: 20px 0 0 0;
}

.Weather img {
  height: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather ul {
  margin: 0px;
  padding: 0px;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
  line-height: 1;
}
